.bookchallenge-body-style{
  background-color: #ffe6cc;
}

div {
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.rtg-intro-blurb{
  font-size: 16px;
  margin:auto;
  text-align: justify;
  width:700px;
}
.rtg-intro-blurb div{
  font-size: 40px;
  font-weight: bold;
}

.rtg-intro-blurb ul{
  font-size: 25px;
}

.rtg-intro-statement{
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  text-align: center;
}

.rtg-login-form, .rtg-signup-form {
  text-align: center;
}

.rtg-login-form input, .rtg-signup-form input {
  border-radius: 7%;
  height: 50px;
  margin-top: 15px;
  padding: 25px;
  width: 400px;

}

.rtg-main-map-graphic{
  display:block;
  margin:auto;
}

.rtg-navbar-menu{
  background-color: white;
  height: 70px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 9999;
}

.rtg-navbar-span{
  float:right;
  margin: 12px;
  margin-right: 100px;
}

#log-in-top{
  background-color: #33ff77;
  border-color: #33ff77;
}

.rtg-navbar-span a{
  background-color: #00cc44;
  border: 2px solid #00cc44;
  border-radius: 16px;
  box-shadow: -1px 2px 4px 0px rgba(0,0,0,0.16),inset 0px -2px 7px 0px rgba(0,0,0,0.1),inset 0px 2px 0px 0px rgba(255,255,255,0.3);
  color: white;
  font-size: 18px;
  margin-right: 15px;
  padding: 9px;
}

.rtg-navbar-span a:hover{
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0),inset 0px 5px 7px 0px rgba(0,0,0,0.1),inset 0px 2px 0px 0px rgba(255,255,255,0.3);
  color:white;
  text-decoration:none;
}

.rtg-profile-picture{
  border-radius: 16px;
}

.rtg-login-section, .rtg-signup-section{
  margin-top: 100px;
}

.rtg-login-section div, .rtg-signup-section div{
  font-size: 30px;
}

.rtg-site-header {
  font-family: 'mailart_rubberstampregular';
  font-size: 75px;
  font-weight: bold;
  margin-top: 90px;
  text-align:center;
}


#log_in,#sign_up {
  background-color: #00cc44;
  border-radius: 16px;
  box-shadow: -1px 2px 2px 0px rgba(0,0,0,0.16),inset 0px -2px 7px 0px rgba(0,0,0,0.1),inset 0px 2px 0px 0px rgba(255,255,255,0.3);
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  padding: 0px;
}

#log_in:hover,#sign_up:hover {
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0),inset 0px 5px 7px 0px rgba(0,0,0,0.1),inset 0px 2px 0px 0px rgba(255,255,255,0.3);
}


#rtg-dropdown-menu{
  background-color: #CCC;
  display: none;
  height: auto;
  position: absolute;
  top: 58px;
  right: 0;
  width: 100px;
}

#rtg-results-wrapper{
  height: 250px;
  padding: 10px;
}

#rtg-search-results{
  margin-bottom: 50px;
}


#rtg-svg-map{
  height: 700px;
  display: block;
  margin: auto;
  width: 1000px;
}

#rtg-tooltip{
  background-color: yellow;
  display: none;
  height: 100px;
  width:100px;
}

#chartdiv {
  width: 100%;
  height: 500px;
}
