.bookchallenge-body-style{
  background-color: #ffe6cc;
}

div {
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.rtg-intro-blurb{
  font-size: 16px;
  margin:auto;
  text-align: justify;
  width:700px;
}

.rtg-intro-statement{
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  text-align: center;
}

.rtg-login-form, .rtg-signup-form {
  text-align: center;
}

.rtg-login-form input, .rtg-signup-form input {
  border-radius: 7%;
  height: 50px;
  margin-top: 15px;
  padding: 25px;
  width: 400px;

}

.rtg-main-map-graphic{
  display:block;
  margin:auto;
}

.rtg-login-section, .rtg-signup-section{
  margin-top: 100px;
}

.rtg-login-section div, .rtg-signup-section div{
  font-size: 30px;
}

.rtg-site-header {
  font-family: 'mailart_rubberstampregular';
  font-size: 75px;
  font-weight: bold;
  text-align:center;
}

#log_in,#sign_up {
  background-color: #00cc44;
  border-radius: 5%;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  padding: 0px;
}
