<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1876284222601647',
      xfbml      : true,
      version    : 'v2.8'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

<div class="rtg-intro-statement">Welcome to the ultimate reading challenge!</div>


<div id="displayMap"></div>

<div class="rtg-intro-blurb">
  <div>How it works:</div>
    <ul>Fill the map by reading books that take place in different countries around the globe</ul>
    <ul></ul>
    <ul></ul>
</div>

<div class="rtg-login-section">
  <div>Continue your journey</div>
  <form class="rtg-login-form">
    <input type="email" id="mail" name="user_mail" placeholder="Email" /><br>
    <input type="password" id="password" name="password" placeholder="Password" /><br>
    <input type="submit" id="log_in" value="Log In">
  </form>
</div>

<div class="rtg-signup-section">
  <div>Start your adventure</div>
  <form class="rtg-signup-form" ng-submit="signUp()">
    <input type="email" id="mail" name="user_mail" placeholder="Email" ng-model="email"/><br>
    <input type="password" id="password" name="password" placeholder="Password"  ng-model="password"/><br>
    <input type="password" id="confirm_password" name="password" placeholder="Confirm Password"  ng-model="confirmPassword"/><br>
    <input type="submit" id="sign_up" value="Sign Up">
  </form>
</div>
