
<div class="rtg-intro-statement">Welcome to the ultimate reading challenge!</div>


<img class="rtg-main-map-graphic" src="images/hedgehog-animal-baby-cute-50577.jpeg"></img>

<div class="rtg-intro-blurb">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel gravida ex,
  vitae auctor odio. Praesent placerat felis arcu, eget rutrum ante lobortis faucibus. Lorem ipsum dolor sit amet,
  consectetur adipiscing elit. Donec mattis, felis sed dapibus ornare, arcu tellus cursus leo, et suscipit lacus arcu eu
  metus. Suspendisse laoreet ante nulla, nec euismod dolor dictum sed. Pellentesque quam urna, tincidunt non scelerisque in,
  feugiat ac purus. Vestibulum eget quam vel lorem blandit interdum. Aliquam tincidunt tincidunt nisl, id sagittis tellus
  dignissim sit amet. Vestibulum pretium urna sit amet lobortis blandit. Suspendisse id magna quis arcu suscipit hendrerit
  pretium sed libero. Curabitur vulputate diam quis enim condimentum, ut ultrices tortor efficitur. Pellentesque pellentesque
  velit vitae pellentesque cursus. Sed eget lectus sit amet dolor interdum maximus vitae in tortor. Duis tortor libero,
  porta eget lobortis in, venenatis a orci. Fusce ut interdum lorem. Donec quis metus blandit est varius ultricies.
</div>

<div class="rtg-login-section">
  <div>Continue your adventure</div>
  <form class="rtg-login-form">
    <input type="email" id="mail" name="user_mail" placeholder="Email" /><br>
    <input type="password" id="password" name="password" placeholder="Password" /><br>
    <input type="submit" id="log_in" value="Log In">
  </form>
</div>

<div class="rtg-signup-section">
  <div>Start your journey</div>
  <form class="rtg-signup-form">
    <input type="email" id="mail" name="user_mail" placeholder="Email" /><br>
    <input type="password" id="password" name="password" placeholder="Password" /><br>
    <input type="password" id="confirm_password" name="password" placeholder="Confirm Password" /><br>
    <input type="submit" id="sign_up" value="Sign Up">
  </form>
</div>
