<div class="rtg-intro-statement">Welcome to the ultimate reading adventure!</div>


<div id="displayMap"></div>

<div class="rtg-intro-blurb">
    <ul>Experience a bit of the world without leaving home</ul>
    <ul>Fill the map by reading fiction or non-fiction books that take place in different countries around the globe</ul>
</div>



<div class="rtg-login-section" id="login-here">
  <div>Continue your journey</div>
  <form class="rtg-login-form">
    <input type="email" id="mail" name="user_mail" placeholder="Email" /><br>
    <input type="password" id="login_password" name="login_password" placeholder="Password" minlength="8" /><br>
    <input type="submit" id="log_in" value="Log In">
  </form>
</div>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<fb:login-button class="fb-login-button" id="fb-override" data-size="xlarge" scope="public_profile,email" onlogin="checkLoginState();" ng-click="FB.login()">Log in with Facebook</fb:login-button>

<div id="status">
</div>

<div class="rtg-signup-section" id="signup-here">
  <div>Start your adventure</div>
  <form name="ptSignupForm" class="rtg-signup-form" ng-submit="ptSignupForm.$valid && signUp()" novalidate>
    <input type="email" id="mail" name="user_mail" placeholder="Email" ng-model="email" required/><br>
    <input type="password" id="signup_password" name="signup_password" placeholder="Password" ng-model="password" minlength="8" required/><br>
    <input type="password" id="signup_confirm_password" name="signup_confirm_password" placeholder="Confirm Password" ng-model="confirmPassword" minlength="8" pw-check='signup_password' required/><br>
    <!-- <div ng-hide="passwordsMatch">Passwords do not match</div> -->
    <div class='msg-error' ng-show='ptSignupForm.signup_confirm_password.$dirty && ptSignupForm.signup_confirm_password.$error.pwmatch'>
      Passwords don't match.
    </div>
    <input type="submit" id="sign_up" value="Sign Up">
  </form>
</div>
