<button id="views-button" ng-click="toggleList()">{{userObj.showList === false ? 'List View' : 'Map View'}}</Button>

<div id="chartdiv" ng-show="!userObj.showList"></div>

<div class="my-book-list" ng-show="userObj.showList">
  <select ng-model="sortOption" ng-change="sortBookList(sortOption)">
    <option value="" disabled selected>Sort by</option>
    <option value="1">Country (A-Z)</option>
    <option value="2">Country (Z-A)</option>
    <option value="3">Page Count (low to high)</option>
    <option value="4">Page Count (high to low)</option>
    <option value="5">Title (A-Z)</option>
    <option value="6">Title (Z-A)</option>
  </select>

  <div class="list-item-container" ng-repeat="tome in userObj.booksRead">
   <span id="list-image">
     <span class="glyphicon glyphicon-trash" ng-click="deleteBook(tome)"></span><img id="book-cover-small"  ng-src="{{tome.cover}}"></img>
   </span>
   <span id="list-attributes">
    <b>Title:</b> {{tome.title}}<br>
    <b>Author:</b> {{tome.author}}<br>
    <b>Country:</b> {{tome.countryName}}<br>
    {{tome.pages}} pages
  </span>
 </div>
</div>

<div id="user-stats-section">
  <div>Countries Read: {{userObj.countriesRead.length}}<div>
  <div>Pages Read: {{userObj.pagesRead}}<div>
  <div>Percent of the World Read: {{(userObj.countriesRead.length/176) * 100 | number : 1}} %<div>
</div>


<div id="search-book-titles">
  <form autocomplete="off" ng-submit="submit()">
    <input type="search" placeholder="Search Book Titles" id="book-search-box" ng-model="searchBookTitles" required></input>
    <button type="submit" id="book-submit-button"><img src="images/1478834170_Find01.png"></img></button>
    <span id="searchclear" class="glyphicon glyphicon-remove-circle search-clear-icon" ng-class="{'search-clear-icon-display' : searchBookTitles}" ng-click="closeSearch()"></span>
  </form>

  <!-- <button id="search-close-button" ng-show="slideDown" ng-click="closeSearch()">&#10005;</button> -->

  <div id="rtg-results-wrapper" class="sample-show-hide" ng-show="slideDown">
    <div id="rtg-search-results" class="book-info" ng-repeat="book in bookList" ng-click="chooseBook(book)">
      <img id="book-cover-img"  ng-src="{{book.thumbnailImage}}"></img>
      <div class="book-attributes">
        <b>{{book.title}}</b><br>
        by {{book.author}}<br>
        {{book.pageCount}} pages<br>
      </div>
        <button id="add-book-button" ng-click="toggleSelectedBook(book)" ng-class="{'cancel-button' : book.addClicked}">{{ book.addClicked === false ? '+ Add Book' : 'Cancel' }}</button>
        <form ng-show="book.addClicked" ng-submit="chooseCountry(); toggleSelectedBook(book);" class="country-choice-form">
          <select id="country-choice-menu" ng-model="data.countryChoiceMenuSelection"
            ng-options="country.title for country in mapCountries | orderBy : '-title': 'reverse'">
            <option value="">Select book's country</option>
          </select>
          <button type="submit" id="country-submit-button">Submit</button>
        </form>
    </div>
  </div>
  </div>
