
<div id="chartdiv"></div>

<div id="user-stats-section">
  <div>Countries Read: {{userObj.countriesRead.length}}<div>
  <div>Pages Read: {{userObj.pagesRead}}<div>
  <div>Percent of the World Read: {{(userObj.countriesRead.length/176) * 100 | number : 1}} %<div>
</div>

<div id="search-book-titles">
  <form autocomplete="off" ng-submit="submit()">
    <input type="search" placeholder="Search Book Titles" id="book-search-box" ng-model="searchBookTitles" required></input>
    <button type="submit" id="book-submit-button"><img src="images/1478834170_Find01.png"></img></button>
    <span id="searchclear" class="glyphicon glyphicon-remove-circle search-clear-icon" ng-class="{'search-clear-icon-display' : searchBookTitles}" ng-click="closeSearch()"></span>
  </form>

  <!-- <button id="search-close-button" ng-show="slideDown" ng-click="closeSearch()">&#10005;</button> -->

  <div id="rtg-results-wrapper" class="sample-show-hide" ng-show="slideDown">
    <div id="rtg-search-results" class="book-info" ng-repeat="book in bookList" ng-click="chooseBook(book)">
      <img id="book-cover-img"  ng-src="{{book.thumbnailImage}}"></img>
      <div class="book-attributes">
        <b>{{book.title}}</b><br>
        by {{book.author}}<br>
        {{book.pageCount}} pages<br>
      </div>
        <button id="add-book-button" ng-click="toggleSelectedBook(book)" ng-class="{'cancel-button' : book.addClicked}">{{ book.addClicked === false ? '+ Add Book' : 'Cancel' }}</button>
        <form ng-show="book.addClicked" ng-submit="chooseCountry(); toggleSelectedBook(book)" class="country-choice-form">
          <select id="country-choice-menu">
            <option value="" disabled selected>Select book's country</option>
            <option ng-repeat="country in mapCountries | orderBy : '-title': 'reverse'" value="{{country.title}}">{{country.title}}</option>
          </select>
          <button type="submit" id="country-submit-button">Submit</button>
        </form>
    </div>
  </div>
  </div>
