
<div id="chartdiv"></div>

<form ng-submit="submit()">
  <input type="search" placeholder="Search Book Titles" id="book-search-box"></input>
  <button type="submit" id="book-submit-button">Submit</button>
</form>

<div id="rtg-results-wrapper">
  <div id="rtg-search-results" ng-repeat="book in bookList">
    <img ng-src="{{book.thumbnailImage}}" ng-click="toggleSelectedBook()"></img><br>
    {{book.title}}<br>
    by<br>
    {{book.author}}
  </div>
</div>

<form ng-show="selectedBook">
  <select>
    <option ng-repeat="country in mapCountries" value="{{country.title}}">{{country.title}}</option>
  </select>
</form>
