<div class="rtg-navbar-menu">
  <div id="rtg-site-header">Read the Globe</div>
  <span class="rtg-navbar-span">
    <a id="log-in-top" href="#">Log In</a>
    <a id="sign-up-top" href="#" >Sign Up</a>
    <div style="position: relative; display: inline-block;">
      <img src="http://placehold.it/50" class="rtg-profile-picture" />
      <div id="rtg-dropdown-menu">
        <ul>
          <a href="#">Account</a><br>
          <a href="#">Log out</a>
        </ul>
      </div>
    </div>
  </span>
</div>
