<div class="rtg-navbar-menu">
  <div id="rtg-site-header">Read the Globe</div>
  <span class="rtg-navbar-span">
    <span id="log-in-top">
      <a href="#" ng-hide="loggedIn">Log In</a>
    </span>
    <span id="sign-up-top">
      <a href="#" ng-hide="loggedIn">Sign Up</a>
    </span>
    <div style="position: relative; display: inline-block; padding-bottom: 20px;" ng-mouseover='mouseOver()' ng-mouseleave='mouseLeave()'>
      <img src="http://placehold.it/50" class="rtg-profile-picture" />
      <div id="rtg-dropdown-menu" ng-mouseover='mouseOver()' ng-mouseleave='mouseLeave()'>
        <ul>
          <a href="#/account">Account</a><br>
          <a href="/" ng-click="logOut()">Log out</a>
        </ul>
      </div>
    </div>
  </span>
</div>
