<div ng-controller="ContactController as contactCtrl" class="cs-contact-wrapper">
  <div id="cs-hours-box" class="col-sm-4 contact-box">
    <div class="cs-contact-heading">Hours</div>
    <div class="cs-contact-content">
      Monday - Thursday 6am-11pm <br>
      Friday & Saturday 6am-12am <br>
      Sunday 8am-8pm <br>
    </div>
  </div>

    <div id="cs-location-box" class="col-sm-4 contact-box">
      <div class="cs-contact-heading">Location</div>
      <div class="cs-contact-content">123 Main Street Denver, Colorado 80211</div>
    </div>

    <div id="cs-socmedia-box" class="col-sm-4 contact-box">
      <div class="cs-contact-heading">Social Media</div>
      <div class="cs-socmedia-content">
        <img ng-src="/images/1472624513_facebook-f-letter-logo-logotype.png"></img> Facebook <br><br>
        <img ng-src="/images/1472615964_twitter-bird-logo-logotype.png"></img> Twitter <br><br>
        <img ng-src="/images/1472624535_instagram-web-social-service-logo-logotype-photo.png"></img> Instagram <br><br>
        <img ng-src="/images/1472624565_pinterest-p-logo-logotype.png"></img> Pinterest <br><br>
      </div>
    </div>
</div>
